{% set page_title = "Black Tiger" %}  
{% set page_head = "All about" %}
{% set page_bold = "Black Tiger" %}
{% set page_desc = "We supply only the best." %}
{% set page_img = "https://source.unsplash.com/random/?food" %}
{% include "shared/base.html" %}
<main role="main">
  {% include "shared/leading.html" %}
  <div class="heading page">
    <h2>Black Tiger</h2>
    <p>Striped like its jungle namesake, the black tiger shrimp is available year-round and is one of Asia’s major aquaculture products. Most tiger shrimp is farmed, though a significant amount is harvested from the wild by trawlers working mud bottoms from very shallow water to depths beyond 300 feet. </p>
    <p> The largest of 300 commercially available shrimp species worldwide, tigers can grow to 13 inches, but harvest size averages 9 to 11 inches. Many countries supply black tigers from both farmed and wild sources. </p>
  </div>  
  <div class="cards">
    <article>
      <img src="https://source.unsplash.com/random/?food">
      <div class="overlay">
        <strong>Black Tiger Live Frozen</strong>
        <span>Head On Shell On.</span>
        <span class="size">Size: <i>about 13 inches and 10 ounces</i></span>
      </div>
    </article>
    <article>
      <img src="https://source.unsplash.com/random/?cafe">
      <div class="overlay">
        <strong>Black Tiger Fresh Frozen</strong>
        <span>Head On Shell On.</span>
        <span class="size">Size: <i>about 13 inches and 10 ounces</i></span>
      </div>
    </article>
    <article>
      <img src="https://source.unsplash.com/random/?cold">
      <div class="overlay">
        <strong>Black Tiger Fresh Frozen</strong>
        <span>Headless Shell On.</span>
        <span class="size">Size: <i>about 13 inches and 10 ounces</i></span>
      </div>
    </article>
    <article>
      <img src="https://source.unsplash.com/random/?prawn">
      <div class="overlay">
        <strong>Black Tiger Fresh Frozen</strong>
        <span>Peeled Devein Tail On.</span>
        <span class="size">Size: <i>about 13 inches and 10 ounces</i></span>
      </div>
    </article>
    <article>
      <img src="https://source.unsplash.com/random/?fresh">
      <div class="overlay">
        <strong>Black Tiger Fresh Frozen</strong>
        <span>Peeled Devein Tail off.</span>
        <span class="size">Size: <i>about 13 inches and 10 ounces</i></span>
      </div>
    </article>
    <article>
      <img src="https://source.unsplash.com/random/?view">
      <div class="overlay">
        <strong>Black Tiger Live Cook</strong>
        <span>Head On Shell On.</span>
        <span class="size">Size: <i>about 13 inches and 10 ounces</i></span>
      </div>
    </article>
    <article class="head">
      <h3><a href="vannamei.html">Vannamei &xrarr;</a></h3>
    </article>
  </div>
</main><!-- main -->
{% include "shared/footer.html" %}