{% set page_title = "Farms" %}  
{% include "shared/base.html" %}

<main role="main">
  {% include "shared/leading.html" %}
  <section id="about">

		<div class="about">
			<h3>The Farm.</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic nesciunt officiis recusandae dolore eligendi voluptatibus quibusdam ipsum minus sed odit assumenda aliquam itaque earum harum voluptas rerum, nisi dolorum porro! Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor.</p>
			<p>Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor.</p>
		</div>
 		<div class="farms">
			
		</div> 	  
  </section>
</main><!-- main -->
{% include "shared/footer.html" %}