{% set page_title = "Vannamei" %}
{% set page_head = "All about" %}
{% set page_bold = "Vannamei" %}
{% set page_desc = "We supply only the best." %}
{% set page_img = "https://source.unsplash.com/random/?food" %} 
{% include "shared/base.html" %}

<main role="main">
  {% include "shared/leading.html" %}
  <div class="heading page">
    <h2>Vannamei</h2>
    <p>Whiteleg shrimp also known as Pacific white shrimp or king prawn, is a variety of prawn of the ... L. vannamei grows to a maximum length of 230 mm (9.1 in), with a carapace length of 90 mm (3.5 in). </p>
  </div>  
  <div class="cards">
    <article>
      <img src="https://source.unsplash.com/random/?food">
      <div class="overlay">
        <strong>Vannamei Raw</strong>
        <span>Head On Shell On.</span>
        <span class="size">Size: <i>about 13 inches and 10 ounces</i></span>
      </div>
    </article>
    <article>
      <img src="https://source.unsplash.com/random/?cold">
      <div class="overlay">
        <strong>Vannamei Raw</strong>
        <span>Headless Shell On.</span>
        <span class="size">Size: <i>about 13 inches and 10 ounces</i></span>
      </div>
    </article>
    <article>
      <img src="https://source.unsplash.com/random/?prawn">
      <div class="overlay">
        <strong>Vannamei Raw</strong>
        <span>Peeled Devein Tail On.</span>
        <span class="size">Size: <i>about 13 inches and 10 ounces</i></span>
      </div>
    </article>
    <article>
      <img src="https://source.unsplash.com/random/?fresh">
      <div class="overlay">
        <strong>Vannamei Raw</strong>
        <span>Peeled Devein Tail off.</span>
        <span class="size">Size: <i>about 13 inches and 10 ounces</i></span>
      </div>
    </article>
    <article>
      <img src="https://source.unsplash.com/random/?view">
      <div class="overlay">
        <strong>Vannamei Cooked</strong>
        <span>Peeled Devein Tail off.</span>
        <span class="size">Size: <i>about 13 inches and 10 ounces</i></span>
      </div>
    </article>
    <article>
      <img src="https://source.unsplash.com/random/?view">
      <div class="overlay">
        <strong>Vannamei Cooked</strong>
        <span>Head On Shell On.</span>
        <span class="size">Size: <i>about 13 inches and 10 ounces</i></span>
      </div>
    </article>
    <article class="head">
      <h3><a href="black-tiger.html">Black Tiger &xrarr;</a></h3>
    </article>
  </div>
</main><!-- main -->
{% include "shared/footer.html" %}
