$primary: #000;
$link: #AE262C;

// formatting
* {
	margin: 0;
	padding: 0;
}
a {
	color: $link;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:active {
		outline: none;
	}
}

button {
	border-radius: 6px;
	background: $link;
	color: white;
	padding: 10px 20px;
	font-size: 18px;
	border: 0;
	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

h1,h2,h3,h4,h5,h6 {
	color: #000;
}